img.emoji {
    height: 1.5em;
    width: 1.5em;
    padding: 0.3em;
    vertical-align: -0.2em;
    cursor: pointer;
}

img.emoji:hover {
    background-color: #c0c0c0;
    border-radius: 0.3em;
}

body {
    -webkit-app-region: drag;
    -webkit-user-select: none;
    background-color: rgba(233, 233, 233, 0.9);
    margin: 3px 6px;
}

#close-btn {
    height: 14px;
    width: 14px;
}