html, body {
    /* disable horizontal scroll */
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: rgba(233, 233, 233, 1);
    margin: 0;
}

.title-bar {
    /* drag window */
    -webkit-app-region: drag;
    -webkit-user-select: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 28px;
    margin: 0;
    padding: 0;
    background-color: rgba(233, 233, 233, 1);
    z-index: 5;
}

.win .title-bar {
    display: none;
}

#close-btn {
    margin: 7px;
    height: 14px;
    width: 14px;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(233, 233, 233, 0.9);
    z-index: 2;
    cursor: pointer;
}

.main-container {
    width: 100%;
    margin: 32px 6px 0 6px;
}

.win .main-container {
    margin: 8px 6px 0 6px;
}

input {
    box-sizing: border-box;
    padding: 0.2em 0.4em;
    margin-bottom: 4px;
    font-size: 12px;
    color: #696969;
    background: #c0c0c0;
    border: solid 1px #a9a9a9;
    border-radius: 3px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#search-input {
    width: 60%;
    margin-left: 4px;
}

#png-size-input {
    width: 20%;
    margin-left: 14px;
}

#png-size-unit {
    margin-left: 2px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

img.emoji {
    height: 24px;
    width: 24px;
    padding: 6px;
    position: relative;
    cursor: pointer;
}

img.emoji:hover {
    background-color: #c0c0c0;
    border-radius: 0.3em;
}

/* loading spinner
https://loading.io/css/ */

.lds-roller {
    display: none;
    position: absolute;
    width: 64px;
    height: 64px;
    z-index: 3;
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px;
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    margin: -3px 0 0 -3px;
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
    top: 50px;
    left: 50px;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 54px;
    left: 45px;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 57px;
    left: 39px;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 58px;
    left: 32px;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 57px;
    left: 25px;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
    top: 54px;
    left: 19px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 50px;
    left: 14px;
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    top: 45px;
    left: 10px;
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}